<html>
    <head>
        <meta charset="utf-8">
        <title>登录</title>
        <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    </head>
    <body>
        <div id="container" style="width: 500px; ">
            <div id="header" style="background-color: darkgreen;">
            <h1 style="margin-bottom: 0%;">登录</h1>
            </div>
        </div>
        <div class="name">
            <label>用户名:</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="password">
            <label>密码:</label>
            <input type="password" name="password" id="password" >
        </div>
        <div id="errormessage"></div>
        <button type="button" id="denglubutton">登陆</button>
       
        <script>
        $("#denglubutton").click(function(){
            if ($("#password").val() ==""){
                $("#password").val("密码不能为空")
                }
            $.ajax({
                url: "http://192.168.2.209:8000/api/v1/login",
                type: "post",
                data: {
                    "username":$("#username").val(),
                    "password":$("#password").val()
                },
                dataType: 'json',
                success:function(data){
                    console.log(data);
                }
            })

        }
        )</script>
    </body>
</html>